<%- include('../partials/header') %>
    <div id="show-page">
        <div>Airline: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>Airport: </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Flight No.: </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Date: </div>
        <div>
            <%= flight.departs.toISOString().split('T')[0].slice(5)+'-'+flight.departs.toISOString().split('T')[0].slice(0,4) %>
        </div>
        <div>Time:</div>
        <div>
            <%= Number(flight.departs.toString().slice(16,18)) < 12 ? String(Number(flight.departs.toString().slice(16,18)))+flight.departs.toString().slice(18,24)+' AM' : String(Number(flight.departs.toString().slice(16,18))-12)+flight.departs.toString().slice(18,24)+' PM'%>
        </div>
    </div>

    <!-- <form id='ticket' method="GET" action="/flights/tickets">
        <input type="submit" value="Purchase A Ticket">
    </form> -->

    

    <div id='parent'>
        <div id='tickets'>
            <h2 align='center'>Tickets</h2>
            <div align='center'>
                <a id='purchase' href="/flights/<%= flight._id %>/tickets">Purchase A Ticket</a>
            </div>
            <% if (tickets.length) { %>
                <div align='center'>
                <table id='ticketsTable'>
                    <thead>
                        <tr>
                            <th>Seat Number</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tickets.forEach(function(t) { %>
                            <tr>
                                <td>
                                    <%= t.seat %>
                                </td>
                                <td><%= t.price%>.00 </td>
  
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
                <% } else { %>
                    <h5>No Tickets Purchased</h5>
                    <% } %>
        </div>

        </div>
        <div id='destinations'>
            <h2 align='center'>Destinations</h2>
            <form id="add-destinations-form" method="POST" action="/flights/<%= flight._id %>/destinations">
                <label>Airport:</label>
                <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN">DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
                <label>Arrival Date:</label>
                <input type="datetime-local" name="arrival" id="datetime">
                <input type="submit" value="Add destination">
            </form>
        
            <% if (flight.destinations.length) { %>
                <div align='center'>
                <table>
                    <thead>
                        <tr>
                            <th>Airport</th>
                            <th>Arrival Date</th>
                            <th>Arrival Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% flight.destinations.forEach(function(d) { %>
                            <tr>
                                <td>
                                    <%= d.airport %>
                                </td>
                                <td><%= d.arrival.toISOString().split('T')[0].slice(5)+'-'+d.arrival.toISOString().split('T')[0].slice(0,4)%> </td>
                                <td><%= Number(d.arrival.toString().slice(16,18)) < 12 ? String(Number(d.arrival.toString().slice(16,18)))+d.arrival.toString().slice(18,24)+' AM' : String(Number(d.arrival.toString().slice(16,18))-12)+d.arrival.toString().slice(18,24)+' PM'%> </td>
        
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
                <% } else { %>
                    <h5>No Destinations Yet</h5>
                    <% } %>
                </div>



                <%- include('../partials/footer') %>